body{
    background-color: dodgerblue;
    text-emphasis-color:floralwhite;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:50px;
    margin-right:50px;
    text-align: center;
    
    
}
img{
    width: 500px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    border-radius: 10px;

}
*{
    margin: 0;
    padding: 0;   
        
}
h2{
    color: floralwhite;
    font-family: 'Russo One', sans-serif;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
}
.h1{
    padding-top: 0px;
}
    
.navbar{
    height: 75px;
    background-color: white;
    position: relative;
    bottom:  50px;
    right: 50px;
    width: 105.5rem ;
    
    
}
.iocn{
    width: 200px;
    float: left;
    height: 70px;
}
.mn{
    width: 450px;
    float: left;
    height: 70px;   

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    list-style: none;
    margin-left: 42px;
    margin-top: 27px;
    font-size: 16px;
    position: relative;
    left: 620px;   
    width: 100px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}
ul li a:hover{
    color:  #dc281e;
   text-decoration: underline;
}
.search{
    width: 300px;
    float: right;
    position: relative;
    right: 50px;
    top: 10px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #dc281e;
    margin-top: 13px;
    background-color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background-color:  #dc281e;
    border: 2px solid #dc281e;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn.focus{
    outline: none;
}
.srch.focus{
    outline: none;
}
.logo{
    width:80px;
    height: 80px;
    position: relative;
    bottom: 2375px;
    right: 700px;
    
}
.main-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}
.main-container:hover img{
    transform: scale(1.1);

}
.container1{
    display: flex;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: -50px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container1:hover img{
    transform: scale(1.1);
    
}
img{
    width: 250px;
    height: 250px;
    padding-bottom: 50px;
    background-color: whitesmoke;
    box-shadow: 3px 3px 3px 3px black ;
    
    
}
h1{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 50px;
    display: block;
    margin-bottom: 50px;
    
    
}
